h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1.3cm;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 1cm;
}

header {
    background-color: black;
    color: white;

}

.section2 {
    color: white
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.tennisMain {
    width: 100%;
    height: 10cm;
    color: white;
}

.section3 {
    display: flex;
    flex-direction: row;
    height: 4cm;
    justify-content: space-evenly;
    padding-top: 2cm;
    padding-bottom: 3cm;
}

.fed {
    width: 6cm;
    height: 6cm;
}

.rafa {
    width: 6cm;
    height: 6cm;
}

.djok {
    width: 6cm;
    height: 6cm;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 26px;
    color: white;
    padding-bottom: 4cm;
}

body {
    background-color: black;
    color: white;
}

.logofooter {
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: left;
}

.footer {
    color: rgb(67, 64, 64);
    display: flex;
    justify-content: center;
    margin-bottom: -1cm;
}

.frenchsection1 {
    display: flex;
    flex-direction: row;
}

.frenchimg1 {
    display: flex;
    height: 500px;
    width: 600px;
    margin-left: 3cm;
    margin-top: 1cm;
    border: 1em;
    border-color: white;
    border-style: solid;
}

.frenchhistory {
    display: flex;
    justify-content: center;
}

.lifrenchhistory {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
}

.frenchsection1 {
    margin-top: 2cm;
}

.frenchfun {
    display: flex;
    font-size: 40px;
}

.ulfrench {
    display: flex;
    font-size: 2em;
}

.footersection {
    display: flex;
    margin-top: 2cm;
}

.nav a:link {
    color: yellow
}

.nav a:active {
    color: yellow
}

.nav a {
    color: white;
}